/* fonts */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared  styles*/

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

/* Button styles */
.btn-1 {
  max-width: 196px;
  height: 44px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  background-color: #e02c6d;
  border: none;
  border-radius: 41px;
  color: #ffffff;
  padding: 10px 24px;
}

.btn-2 {
  background-color: #e02c6d;
  border: none;
  max-width: 155px;
  height: 44px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #ffffff;
  padding: 10px 24px;
}

/* Nav-Bar Styles */
nav {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.nav-anchors {
  display: flex;
  gap: 34px;
}
.logo h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.nav-anchors a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: rgba(58, 58, 58, 1);
}

/* Banner styles */
.banner-section {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.banner-section .content {
  width: 582px;
}

.banner-section .content h1 {
  font-weight: bold;
  font-size: 3.25rem;
}
.banner-section .content p {
  font-weight: 600;
  font-size: 1rem;
}

.image-container {
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
}

/* Sponsors Section */
.sponsors {
  max-width: 1100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-bottom: 100px;
}

/* Product collection */
.collection {
  max-width: 1047px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  gap: 30px;
}

#mother-collection {
  max-width: 1047px;
  margin: 0 auto;
  margin-bottom: 100px;
}
#mother-collection #pc {
  text-align: center;
}

.products {
  border-radius: 5px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.384);
  padding: 15px;
  text-align: center;
}

.products{
  text-align: left;
}

.review {
  height: 30px;
}

.see-more {
  text-align: right;
  margin-top: 50px;
}


/* footer banner*/
.oneplace{
  max-width: 1100px;
  display: flex;
  gap: 100px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 100px;
}


/* footer */
footer{
  background-color: rgb(10, 8, 38);
  height: 240px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.texts{
  text-align: center;
  color: #ffffff;
}
.logoz img{
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border-radius: 70%;

}

/* Responsive section Mobile*/
@media screen and (max-width: 576px) {
  .nav-anchors a:nth-child(1),
  a:nth-child(2),
  a:nth-child(3),
  a:nth-child(4),
  a:nth-child(5) {
    display: none;
  }
  .banner-section {
    flex-direction: column-reverse;
  }
  .image-container {
    width: calc(100%-40px);
  }
  .content {
    text-align: center;
  }
  .banner-section .content h1 {
    font-size: 7vw;
  }
  .banner-section .content p {
    font-size: 3vw;
    text-align: center;
  }
  .sponsors {
    flex-wrap: wrap;
    border: none;
    text-align: center;
  }
  .collection {
    grid-template-columns: repeat(1, 1fr);
  }
  .oneplace{
    flex-direction: column-reverse;
    text-align: center;
    gap: 30px;
  }
  #content-gg{
    text-align: center;
  }
  footer{
    height: 400px;
  }
}
